@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PlexMono";
    src: url("../assets/fonts/PlexMono/IBMPlexMono-Regular.ttf");
    font-style: normal;
  }

  @font-face {
    font-family: "MonumentExtended";
    src: url("../assets/fonts/MonumentExtended/MonumentExtended-Regular.otf");
    font-style: normal;
  }

  @font-face {
    font-family: "MonumentExtended";
    src: url("../assets/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf");
    font-weight: bold;
  }

  html {
    font-family: "PlexMono";
    background: url(/images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
}
